owncloud:
  lookup:
    db_host: localhost
    db_user: owncloud
    db_name: owncloud
    db_type: mysql
    # ...
    # see also: owncloud/defaults.yaml and owncloud/osfamilymap.yaml

    redis:
      # Set this to 'no', if your redis instance runs on a localhost address other than 127.0.0.1
      protected_mode: 'yes'

  # Must be set in some situations
  mysql_root_password: SuperSecurePassword
  # Will fail if none is set
  owncloud_password: owncloud_mysql_password
  # Default: owncloud
  owncloud_user: owncloud_mysql_user
  # Default: owncloud
  owncloud_database: owncloud_mysql_database

  # Additional (non-essential) configuration
  # See https://doc.owncloud.org/server/10.0/admin_manual/configuration/server/config_sample_php_parameters.html
  salt_managed_config:
    enable_avatars: false
